
body{
    text-align: center;
}

.my-img{
    height: 200px;
    border-radius: 40%;
}
h1 {
    color: #94aeae;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2{
    color: #d6890e;
    font-family: "Noto Sans", serif;
    font-size: 3rem;

}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 80px;
}


.clouds-img{
    position: absolute;
    right: 300px;
    top: 40px;
}

.myintro{
    font-size:20px;
    font-family: "Merriweather", serif;


}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.skills-parent {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
.btn{
    border-radius: 8%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to bottom, #eda335, #bf8217);
}
.bold-word{
    font-weight: bold;
}

.skills-img1 img, .skills-img3 img {
    width: 70%;
}